push.bat
TestResult.xml
build
build35
artifacts
src/CommonAssemblyInfo.cs
[Dd]ebug/
[Rr]elese/
[Oo]bj/
[Bb]in/
*.suo
*.user
*.sln.cache
/TestResults
*.vspscc
*.vssscc
*[Rr]e[Ss]harper.user
_ReSharper.*/
[Mm]etric[Rr]esults
[Pp]ackages
fubu-content
bottles.cmd
*.stresult
.fubu-alias
.fubu-includes
.fubu-manifest
pak*.zip
test-results
spark.zip
storyteller
FubuTestAppRoot
report.htm
packaging/release
lib/**/*.nupkg
installation_report.htm
*.swp
output
output/*
*.dotCover
src/packages
repositories.config
results
deploy
deploy/*
deployment/bottles/*.zip
deploymentplan.html
deployment
!docs/source/topics/deployment
*ncrunch*
fubu.cmd
Gemfile.lock
logs
!Binaries/bin
